* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #d3d0cb;
  font: 14px sans-serif;
  color: #333;
}

ul li:hover {
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: #d3d0cb;
}

.MuiInputBase-root {
  color: red;
}
